name: Java workflow

on:
  push:
    branches:
      - "**"
    tags-ignore:
      - "*.*"
    paths-ignore:
      - README.md
      - CHANGELOG.md

jobs:
  gradle_tests:
    name: Gradle Build
    runs-on: ubuntu-latest

    steps:
      - name: Checkout latest source
        uses: actions/checkout@v6

      - name: Set up JDK
        uses: actions/setup-java@v5
        with:
          distribution: "temurin"
          java-version: 17
          cache: "gradle"

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Run Tests
        run: ./gradlew -DOPENCAGE_API_KEY=${{ secrets.OPENCAGE_API_KEY }} test

      - name: Run Build
        run: ./gradlew -DOPENCAGE_API_KEY=${{ secrets.OPENCAGE_API_KEY }} build
